modem.img
xrom/priv-app/YandexBrowser/YandexBrowser.apk
system/system/app/Chrome/Chrome.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/YandexApp/YandexApp.apk
system/system/priv-app/Velvet/Velvet.apk
vendor/etc/dts/dts-eagle.lic
